
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*bin/
*.vs
/AdminApi/bin/Debug/net5.0/*.dll
/AdminApi/.vs/AdminApi/config/applicationhost.config
/AdminApi/.vs/AdminApi/DesignTimeBuild/.dtbcache.v2
/AdminApi/.vs/AdminApi/v16/.suo
/AdminApi/bin/Debug/net5.0/AdminApi.deps.json
/AdminApi/bin/Debug/net5.0/AdminApi.dll
/AdminApi/bin/Debug/net5.0/AdminApi.exe
/AdminApi/bin/Debug/net5.0/AdminApi.pdb
/AdminApi/bin/Debug/net5.0/AdminApi.runtimeconfig.dev.json
/AdminApi/bin/Debug/net5.0/appsettings.json
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/AdminApi/bin/Debug/net5.0/ref/AdminApi.dll
/AdminApi/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/AdminApi/obj/AdminApi.csproj.nuget.dgspec.json
/AdminApi/obj/AdminApi.csproj.nuget.g.props
/AdminApi/obj/Debug/net5.0/AdminApi.assets.cache
/AdminApi/obj/Debug/net5.0/AdminApi.csproj.CoreCompileInputs.cache
/AdminApi/obj/Debug/net5.0/AdminApi.csproj.FileListAbsolute.txt
/AdminApi/obj/Debug/net5.0/AdminApi.csprojAssemblyReference.cache
/AdminApi/obj/Debug/net5.0/AdminApi.dll
/AdminApi/obj/Debug/net5.0/AdminApi.genruntimeconfig.cache
/AdminApi/obj/Debug/net5.0/AdminApi.pdb
/AdminApi/obj/Debug/net5.0/apphost.exe
/AdminApi/obj/Debug/net5.0/ref/AdminApi.dll
/AdminApi/obj/project.assets.json
/AdminApi/obj/project.nuget.cache
/AdminApi/.vs/AdminApi/config/applicationhost.config
/AdminApi/.vs/AdminApi/DesignTimeBuild/.dtbcache.v2
/AdminApi/.vs/AdminApi/v16/.suo
/AdminApi/bin/Debug/net5.0/AdminApi.deps.json
/AdminApi/bin/Debug/net5.0/AdminApi.dll
/AdminApi/bin/Debug/net5.0/AdminApi.exe
/AdminApi/bin/Debug/net5.0/AdminApi.pdb
/AdminApi/bin/Debug/net5.0/AdminApi.runtimeconfig.dev.json
/AdminApi/bin/Debug/net5.0/appsettings.json
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AdminApi/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
/AdminApi/bin/Debug/net5.0/ref/AdminApi.dll
/AdminApi/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
/AdminApi/obj/AdminApi.csproj.nuget.dgspec.json
/AdminApi/obj/AdminApi.csproj.nuget.g.props
/AdminApi/obj/Debug/net5.0/AdminApi.assets.cache
/AdminApi/obj/Debug/net5.0/AdminApi.csproj.CoreCompileInputs.cache
/AdminApi/obj/Debug/net5.0/AdminApi.csproj.FileListAbsolute.txt
/AdminApi/obj/Debug/net5.0/AdminApi.csprojAssemblyReference.cache
/AdminApi/obj/Debug/net5.0/AdminApi.dll
/AdminApi/obj/Debug/net5.0/AdminApi.genruntimeconfig.cache
/AdminApi/obj/Debug/net5.0/AdminApi.pdb
/AdminApi/obj/Debug/net5.0/apphost.exe
/AdminApi/obj/Debug/net5.0/ref/AdminApi.dll
/AdminApi/obj/project.assets.json
/AdminApi/obj/project.nuget.cache
